@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-UltraLight.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Light.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Thin.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Heavy.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Black.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Meticula";
  src: url("../fonts/Meticula/Meticula-ExtraLight.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Meticula";
  src: url("../fonts/Meticula/Meticula-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Meticula";
  src: url("../fonts/Meticula/Meticula-Thin.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Meticula";
  src: url("../fonts/Meticula/Meticula-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Meticula";
  src: url("../fonts/Meticula/Meticula-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Meticula";
  src: url("../fonts/Meticula/Meticula-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Meticula";
  src: url("../fonts/Meticula/Meticula-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Meticula";
  src: url("../fonts/Meticula/Meticula-ExtraBold.ttf");
  font-weight: 900;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #d3d3d3;
  padding: 0;
  font-size: 0.9em;
  color: #2f4f7b;
}

#content {
  width: 950px;
  padding: 55px 75px 75px 75px;
  margin: 0 auto;
  background-color: #f2f2f2;
  overflow: hidden;
}

h1, h2 {
  margin: 0.2em 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1;
  margin: 0.2em 0;
}

p {
  margin: 0;
  line-height: 1.25em;
}

#name-container {
  text-transform: uppercase;
}
#name-container #name {
  font-size: 5.5em;
  font-weight: 700;
  color: #2f4f7b;
}
#name-container #role {
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: 600;
  color: #b34700;
}

.flex-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.flex-container .flex-item:nth-child(1) {
  flex: 1.4;
  padding-right: 50px;
}
.flex-container .flex-item:nth-child(2) {
  flex: 2;
}

.section {
  padding: 25px 0;
}

.projects .career-heading {
  margin-bottom: 10px;
}
.projects p:not(:last-child) {
  margin-bottom: 10px;
}

p.list {
  line-height: 1.5em;
}

.section-heading {
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.career-section:not(:nth-child(2)) {
  margin-top: 25px;
}

.career-heading {
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0;
}

.career-subheading {
  padding: 8px 0;
}
.career-subheading > span {
  margin: 0.1em 0;
}

.italic {
  font-style: italic;
}

.secondary {
  color: #b34700;
}

/*# sourceMappingURL=style.css.map */
